{% extends 'baseback.html.twig' %}

{% block title %}Gestion des Médicaments{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-dark mb-4 wow fadeInDown">Gestion des Médicaments</h1>

        <div class="row mb-3">
            <div class="col-md-12">
                <a href="{{ path('app_medicament_new') }}" class="btn btn-success btn-lg wow fadeInLeft" data-wow-delay="0.3s">Ajouter un Médicament</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if medicaments|length > 0 %}
                    <div class="table-responsive wow fadeInUp" data-wow-delay="0.5s">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Quantité</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Prix</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medicament in medicaments %}
                                    <tr>
                                        <td>{{ medicament.name }}</td>
                                        <td>{{ medicament.quantity }}</td>
                                        <td>{{ medicament.description }}</td>
                                        <td>
                                        <img src="{{ asset('img/' ~ medicament.image) }}" " class="img-thumbnail" style="max-width: 100px;">
                                        </td>
                                        <td>{{ medicament.price }} dt</td>
                                        <td>
                                            <a href="{{ path('app_medicament_show', {'id': medicament.id}) }}" class="btn btn-info btn-sm wow fadeInLeft" data-wow-delay="0.7s">Voir</a>
                                            <a href="{{ path('app_medicament_edit', {'id': medicament.id}) }}" class="btn btn-warning btn-sm wow fadeInRight" data-wow-delay="0.7s">Modifier</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="text-muted wow fadeIn" data-wow-delay="0.7s">Aucun enregistrement trouvé.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Add the following CSS for the wow animations -->
    <style>
        @import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css");
    </style>

{% endblock %}
