{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{{ form_start(registrationForm,{ attr: {novalidate: 'novalidate' , 'class':'login100-form validate-form'} }) }}


	<div class="limiter" style="padding: 20px; background-color: #f2f2f2;">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="background-color: white; border-radius: 10px;">


				<span class="login100-form-title p-b-49" style="color: blue;">
					Nouveau Compte
				</span>

				<div class="wrap-input100 validate-input m-b-23">
					<span class="label-input100">{{ form_label(registrationForm.username, 'Username') }}</span>

					{{ form_widget(registrationForm.username, { 
						'attr': {'class': 'input100'},
						'label_attr': {'class': 'input100'}
					}) }}

					<span class="focus-input100" data-symbol="&#xf206;"></span>

					{% if form_errors(registrationForm.username) is not empty %}
						{% for error in form_errors(registrationForm.username) %}
							<span class="text-danger">{{ error.message }}</span>
						{% endfor %}
					{% endif %}
				</div>


				<div class="wrap-input100 validate-input m-b-23">

					<span class="label-input100">{{ form_label(registrationForm.lastname) }}</span>


					{{ form_widget(registrationForm.lastname,{ attr: {'class':'input100'}}, 'Type your lastname') }}


					<span class="focus-input100" data-symbol="&#xf206;"></span>
					{% if form_errors(registrationForm.lastname) is not empty  %}


						{% for error in registrationForm.lastname.vars['errors'] %}

							<span class="text-danger">{{ error.message }}</span>
						{% endfor %}
					{% endif %}

				</div>


				<div class="wrap-input100 validate-input m-b-23">
					<span class="label-input100">{{ form_label(registrationForm.dateDeNaissance) }}</span>
					{{ form_widget(registrationForm.dateDeNaissance, { attr: { class: 'input100' } }) }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
					{% if form_errors(registrationForm.dateDeNaissance) is not empty %}
						{% for error in registrationForm.dateDeNaissance.vars.errors %}
							<span class="text-danger">{{ error.message }}</span>
						{% endfor %}
					{% endif %}
				</div>

				<div class="wrap-input100 validate-input m-b-23">
					<span>Genre</span>

					<div class="gender-icon">
						<label for="genre_feminin">Féminin</label>
						<input type="radio" id="genre_feminin" name="genre" value="feminin">
						<label for="genre_masculin">Masculin</label>
						<input type="radio" id="genre_masculin" name="genre" value="masculin">
					</div>
				</div>

				<div class="wrap-input100 validate-input m-b-23">
					<span class="label-input100">{{ form_label(registrationForm.telephone) }}</span>
					{{ form_widget(registrationForm.telephone, { attr: { class: 'input100' } }) }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
					{% if form_errors(registrationForm.telephone) is not empty %}
						{% for error in registrationForm.telephone.vars.errors %}
							<span class="text-danger">{{ error.message }}</span>
						{% endfor %}
					{% endif %}
				</div>

				<div class="wrap-input100 validate-input m-b-23">
					<span class="label-input100">{{ form_label(registrationForm.email) }}</span>
					{{ form_widget(registrationForm.email, { attr: { class: 'input100' } }) }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
					{% if form_errors(registrationForm.email) is not empty %}
						{% for error in registrationForm.email.vars.errors %}
							<span class="text-danger">{{ error.message }}</span>
						{% endfor %}
					{% endif %}
				</div>

				<div class="wrap-input100 validate-input m-b-23">
					<span class="label-input100">Rôle</span>
					<select class="input100" name="role">
						<option value="Autre">Autre</option>
						<option value="responsable">Responsable</option>
						<option value="medecin">Médecin</option>
						<option value="patient">Patient</option>
					</select>
					<span class="focus-input100" data-symbol="&#xf206;"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-23">
					{{ form_row(registrationForm.password, { label: false, attr: { placeholder: 'Password', class: 'input100' } }) }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
					{% if form_errors(registrationForm.password) is not empty %}
						{% for error in registrationForm.password.vars.errors %}
							<span class="text-danger">{{ error.message }}</span>
						{% endfor %}
					{% endif %}
				</div>

				<div class="wrap-input100 validate-input m-b-23">
					{{ form_row(registrationForm.Confirm_password, { label: false, attr: { placeholder: 'Confirm Password', class: 'input100' } }) }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
					{% if form_errors(registrationForm.Confirm_password) is not empty %}
						{% for error in registrationForm.Confirm_password.vars.errors %}
							<span class="text-danger">{{ error.message }}</span>
						{% endfor %}
					{% endif %}

					{% if registrationForm.password.vars.value != registrationForm.Confirm_password.vars.value %}
						<span class="text-danger">Confirm password does not match the password.</span>
					{% endif %}
				</div>
				{# <div class="wrap-input100 validate-input m-b-23">
																									{{ form_label(registrationForm.captcha, 'Please verify this Captcha') }}
																									<div id="captcha-container">
																										{{ form_widget(registrationForm.captcha, {'attr': {'class': 'form-control'}}) }}
																										{% if form_errors(registrationForm.captcha) %}
																											<span class="text-danger">{{ form_errors(registrationForm.captcha) }}</span>
																										{% endif %}
																									</div>
																								</div> #}

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>

						<button class="contact100-form-btn" type="submit" style="background-color: #2D75AB; border: none; color: white; padding: 10px 20px; float: right;">
							<span>Envoyer
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>

					<!-- Include reCAPTCHA script -->
					 <script src="https://www.google.com/recaptcha/api.js" async defer></script>


				</div>
			</div>
		</div>
		{{ form_end(registrationForm) }}


	{% endblock %}
