{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
<label for="inputText" class="col-sm-4 col-form-label">Nom</label>
<div class="col-sm-10">
	{{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder': 'Nom'}}) }}

</div>
{{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}


<label for="inputText" class="col-sm-4 col-form-label">Email</label>
<div class="col-sm-20">
	{{ form_widget(form.email,{'attr': {'class': 'form-control', 'placeholder': 'nom.prenom@gmail.com'}}) }}

</div>
{{ form_errors(form.email,{'attr':{'class':'text-danger'}}) }}

<label for="inputText" class="col-sm-4 col-form-label">Numero</label>
<div class="col-sm-10">
	{{ form_widget(form.numero,{'attr':{'class':'form-control','placeholder': 'Numéro'}}) }}
</div>
{{ form_errors(form.numero,{'attr':{'class':'text-danger'}}) }}

<label for="inputText" class="col-sm-4 col-form-label">logo</label>
<div class="col-sm-10">
	{{ form_widget(form.logo,{'attr':{'class':'form-control','placeholder': 'url:'}}) }}

</div>
{{ form_errors(form.logo,{'attr':{'class':'text-danger'}}) }}

<br>


<div class="form-group row">
	{{ form_label(form.pack, 'Pack', {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
	<div class="col-sm-8">
		{{ form_widget(form.pack, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.pack, {'attr': {'class': 'text-danger'}}) }}
	</div>
</div>
<br>



<div class="col-10 col-sm-4">
		<button class="btn btn-primary w-100 py-3">{{ button_label|default('Save') }}</button>
	</div>

{{ form_end(form) }}
