{% extends 'base.html.twig' %}

{% block body %}
<div class="container py-5">
    <h1 class="display-4 text-center mb-5">Modifier la Consultation</h1>
    <form action="{{ path('app_consultation_patients_edit', {'id': consultation_patient.id}) }}" method="post">
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.surname) }}
            {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            
        </div>
        <div class="mb-3">
            {{ form_label(form.remarquesDesDocteurs) }}
            {{ form_widget(form.remarquesDesDocteurs, {'attr': {'class': 'form-control', 'rows': 5}}) }}
        </div>
        <div class="text-center"> 
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        </div>
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}
