{% extends 'base.html.twig' %}

{% block body %}
<div class="container py-5">
    <h1 class="display-4 text-center mb-5">Listes des consultations</h1>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Date du rendez-vous</th>
                            <th scope="col">Remaraques des docteurs</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for consultation_patient in consultation_patients %}
                        <tr>
                            <td>{{ consultation_patient.name }}</td>
                            <td>{{ consultation_patient.surname }}</td>
                            <td>{{ consultation_patient.Remaraques }}</td>
                            <td>{{ consultation_patient.experience }}</td>
                           
                            <td>
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <a href="{{ path('app_consultation_patient_show', {'id': consultation_patient.id}) }}" class="btn btn-sm btn-primary">Voir</a>
                                    <a href="{{ path('app_consultation_patient_edit', {'id': consultation_patient.id}) }}" class="btn btn-sm btn-info">Modifier</a>
                                    <form action="{{ path('app_consultation_patient_delete', {'id': consultation_patient.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette consultation?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultation_patient.id) }}">
                                        <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                         <div class="d-flex justify-content-center my-4">
                    {{ knp_pagination_render(docteurs) }}
                </div>
                        {% else %}
                        <tr>
                            <td colspan="7">Aucun enregistrement trouvé</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container text-center my-4">
    <a href="{{ path('app_consultation_patients_new') }}" class="btn btn-primary">Ajouter une nouvelle consultation</a>
</div>
{% endblock %}
