{% extends 'base.html.twig' %}

{% block title %}Liste des Médecins{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Liste des Médecins</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Expérience</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Spécialité</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for docteur in docteurs %}
                    <tr>
                        <td>{{ docteur.nom }}</td>
                        <td>{{ docteur.prenom }}</td>
                        <td>{{ docteur.mail }}</td>
                        <td>{{ docteur.experience }}</td>
                        <td>{{ docteur.mobile }}</td>
                        <td>{{ docteur.addresse }}</td>
                        <td>{{ docteur.specialite }}</td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <a href="{{ path('app_docteur_show', {'id': docteur.id}) }}" class="btn btn-info">Afficher</a>
                                <a href="{{ path('app_docteur_edit', {'id': docteur.id}) }}" class="btn btn-primary">Modifier</a>
                                <form action="{{ path('app_docteur_delete', {'id': docteur.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce médecin ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ docteur.id) }}">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center my-4">
            {{ knp_pagination_render(docteurs) }}
        </div>
    </div>
{% endblock %}
