 {% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Votre CSS existant */
        .topic-title {
            color: blue;
            font-size: 24px;
        }
        .card-text {
            font-size: 17px;
            color: black;
        }
        .related-publications {
            margin-top: 20px; 
            margin-bottom: 20px; 
            color: blue;
            font-size: 24px;
        }
        .card {
            position: relative;
        }
        .card img {
            max-width: 50%;
            display: block;
            margin: 0 auto;
        }
        .action-buttons {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .action-buttons a {
            margin-left: 10px;
            font-size: 20px;
        }
        
    </style>
     
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="mb-4 topic-title">{{ topic.Titre }}</h2>
                <p class="card-text">{{ topic.Contenu }}</p>
                <p class="card-text">Date de création : {{ topic.Datedecreation|date('Y-m-d H:i:s') }}</p>
                <h3 class="related-publications">Publications associées :</h3>
                {% for publication in publications %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <p class="card-text">{{ publication.Contenu }}</p>
                            <p class="card-text">Postée le : {{ publication.Datedecreation ? publication.Datedecreation|date('Y-m-d H:i:s') : '' }}</p>
                            {% if publication.image %}
                                <img src="{{ asset('img/' ~ publication.image) }}" alt="Image" class="img-fluid">
                            {% endif %}
                            

                              <div>
                                    <a href="{{ path('app_publication_show', {'id': publication.id}) }}" class="btn btn-link"><i class="bi bi-eye"></i> details</a>
                  
                            </div>
                            
                        </div>
                    </div>
                {% else %}
                    <p class="text-center">Aucune publication trouvée.</p>
                {% endfor %}
                
               
                <a href="{{ path('app_publication_new', {'topicId': topic.id}) }}" class="btn btn-primary w-100 py-3 mt-4">Créer une nouvelle publication</a>
            </div>
        </div>
    </div>
{% endblock %}