{% extends 'base.html.twig' %}

{% block body %}
    

    {% block container %}
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1>Échangeons nos idées pour une meilleure santé</h1>
                </div>
                <div class="row g-4">
                    {% for topic in topics %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="card h-100 bg-light"> 
                                <div class="card-body">
                                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                                        <i class="fa fa-heartbeat text-primary fs-4"></i>
                                    </div>
                                    <h4 class="card-title mb-3">{{ topic.Titre }}</h4>
                                    <p class="card-text mb-4">{{ topic.Contenu }}</p>
   <div class="d-flex align-items-center">
    <a href="{{ path('app_topic_details', {'id': topic.id}) }}" class="me-2 text-primary">
        <i class="fa fa-plus me-2"></i>
    </a>
    <form action="{{ path('app_addaufavoris', {'id': topic.id}) }}" method="post">
        <button class="btn btn-link" type="submit">
            <i class="far fa-heart me-2 text-danger"></i>
        </button>
    </form>
</div>

                    
{#<a href="{{ path('app_topic_favorite', {'id': topic.id}) }}" class="btn btn-success">
                                        <i class="fa fa-heart"></i>  favoris
                                    </a>#}

                                       
                                  
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
	 <!-- Incluez jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Incluez votre fichier JavaScript -->
    <script src="{{ asset('js/app.js') }}"></script>
    {# Pagination #}
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="text-center">
			{{ knp_pagination_render(topics) }}
		</div>
	</div>
</div>
<br>

{# style of pagination #}
<style>
	.pagination {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.pagination li {
		margin: 0 5px;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		white-space: nowrap;
	}


	.button-container button {
		margin-right: 10px; /* Espacement entre les boutons */
	}

	.pagination a {
		text-decoration: none;
		padding: 5px 10px;
		border: 1px solid #404a3d; /* Bleu */
		border-radius: 3px;
		color: #404a3d; /* Bleu */
	}

	.pagination a:hover {
		background-color: #404a3d; /* Bleu au survol */
		color: #fff; /* Texte blanc au survol */
	}
</style>
                    
{% endblock %}
